<!DOCTYPE html>
<html lang="{{language}}">
{{! head (metadata) partial }}
{{> head }}

<div id="main">
    {{> nav }}

    <h1>{{title}}</h1>
    <div class="talkies">
        {{> content }}
    </div>
</div>


{{> sidemenu }}

{{! footer partial }}
{{> footer }}
</html>
