---
title: Authors
---

<p>Uzu was written and is maintained by <a
href="https://github.com/scmorrison">Sam Morrison</a>.<p>

<h1>Contributors</h1>

<ul>
<li><a href="https://github.com/ab5tract">ab5tract</a></li>
</ul>

